---
import Layout from "../layouts/Default.astro";
---

<Layout title="Page Not Found">
  <h1 class="text-2xl mb-2">Page Not Found</h1>
  <div class="text-lg">The requested page was not found.</div>
</Layout>
